[defaults]
inventory = inventory.hcloud.yaml
private_key_file = ../terraform/environments/dev/ssh_key/id_rsa
remote_user = root

[inventory]
enable_plugins = yaml, host_list, script, auto, ini, hetzner.hcloud.hcloud